{% extends'base.html.twig' %}

{% block title %}Régions{% endblock %}

{% block body %}
    <div class="container">

        <h4>Liste des Régions référencé</h4><br/>

        {% if regions|length > 0 %}
            <table class="table table-hover table-dark">
                <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Régions</th>
                </tr>
                </thead>
                <tbody>
                {% for uneR in regions %}
                    <tr>
                        <td>{{ uneR.code }}</td>
                        <td>{{ uneR.nom }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table><br/>
        {% else %}
            <div class="alert alert-warning">
                Il n'y aucune région. Veuillez en ajouter.
            </div>
        {% endif %}

        {% if is_granted(['ROLE_ADMIN', 'ROLE_GESTIONNAIRE']) %}
            <a href="/ng/geolocalisation/region/ajout" class="btn btn-outline-ngi">{{ 'ajouter'|upper }}</a>
        {% endif %}



    </div>
{% endblock %}